/* Reset e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

/* Tipografia */
.subtitle,
h2 {

    text-align: center;
    margin-top: 20px;
}

h1,
h2,
h3,
h4 {
    font-weight: 100;
}

p,
li,
a,
span {
    font-weight: 400;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}


/* Navegação */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to right, #170502, #571406, #7D1C09);
    height: 8vh;
}


.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/* Formulario de contato */
#fale-comigo {
    width: 95%;
    margin: 0 auto;
    /* centraliza na tela */
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #402722;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-image:url("../img/escritorio.jpg");
    margin-top: 20px;
    padding-top: 10px;
    background-size: cover;
    align-items: flex-start;
    align-items: center;
}

/* Título e subtítulo */
#fale-comigo h2 {
    text-align: center;
    font-size:30px;
    color: #fff;
}

#fale-comigo .subtitle {
    text-align: center;
    font-size:20px;
    color: #fff;
    margin-bottom: 1rem;
}

/* Campos */
#fale-comigo input,
#fale-comigo textarea {
    width: 550px;
    max-width: 100%;
    padding: 0.8rem;
    border: 1px solid #402722;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;


}

/* Botão */
#fale-comigo button {
    background-color: #7D1C09;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 550px;
    max-width: 100%;
}

#fale-comigo button:hover {
    background-color: #561406;

}

.horario-atendimento {
    text-align: center;
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
}
.frame {
  width: 600px;
  height: 400px;
}

.frame iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Responsividade Fale comigo */
@media (max-width: 480px) {
    #fale-comigo {
        padding: 1rem;
    }

    #fale-comigo h2 {
        font-size: 1.3rem;
    }

    #fale-comigo button {
        font-size: 0.9rem;
        padding: 0.8rem;
    }
    
}

@media (max-width: 768px) {
  .frame {
    width: 100%;
    height: 300px; /* ajusta a altura no celular */
  }
}


@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }


    .nav-list {
        position: absolute;
        top: 12vh;
        right: 0;
        width: 45vw;
        height: 100vh;
        background: linear-gradient(#7D1C09, #561406, #000000);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}


.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.social-links {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

/* Responsividade social-links */

@media (max-width: 768px) {
    .social-links {
        justify-content: center;

    }
}

small {
    font-weight: 300;
}

/* footer */
footer {
    padding: 50px 60px;
    background: linear-gradient(to right, #170502, #571406, #7d1c09);
    color: #fff;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

#footer_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    position: relative;
}

/* BLOCO GERAL */
.footer_block {
    display: flex;
    flex-direction: column;
}

.footer_left img {
    margin-left: 20px;
    /* ajuste como quiser */
}

/* CENTRO COM 2 COLUNAS */
.footer-center {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer-center ul {
    list-style: none;
    margin-top: 80px;
    margin-left: 10px;
    padding: 0;
}

.footer-center li {
    margin-bottom: 10px;
}

.footer-center a {
    text-decoration: none;
    color: #ffffffc9;
    font-size: 16px;
    transition: 0.3s;
}

.footer-center a:hover {
    color: #fff;
}

/* BLOCO DIREITO */
.footer_right h4 {
    font-size: 16px;
    margin-bottom: 10x;
    font-weight: 500;

}

.footer_right p {
    font-size: 14px;
    margin: 5px 0 15px 0;
    display: flex;
    align-items: center;
}

.footer_right i {
    margin-right: 8px;
}

.outline {
    color: transparent;
    -webkit-text-stroke: 1px #fff;

}


/* LINHA DIVISÓRIA CENTRAL */
#footer_content::before {
    content: "";
    width: 2px;
    height: 198px;
    background: rgba(255, 255, 255, 0.35);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}


/* RESPONSIVO  do footer*/
@media (max-width: 999px) {
    footer {
        padding: 30px 20px;
    }

    #footer_content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        position: relative;
    }

    #footer_content::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 65px;
        background: rgba(255, 255, 255, 0.35);
        left: 50%;
        top: 195px;
        transform: translate(-50%, -50%);
    }

    /* Centro ajustado */
    .footer-center {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        margin-left: 15px;
        margin-top: -10px;

    }

    .footer-center ul {
        margin: 0;
        padding: 0;
        margin-top: 20px;
        text-align: center;
    }

    .footer_right p {
        justify-content: center;
    }

    .footer_left img {
        max-width: 150px;
        margin-bottom: -10px;
    }
}

/* Termino da responsividade do footer */